<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="proyectolibreriaOF1.Properties.Settings.libreriagandConnectionString" connectionString="Data Source=marioserverchido.database.windows.net,1433;Initial Catalog=libreriagand;Persist Security Info=True;User ID=marioad;Password=Mario524" providerName="System.Data.SqlClient" />
    <add name="libreriagandEntities" connectionString="metadata=res://*/libreriamodel1.csdl|res://*/libreriamodel1.ssdl|res://*/libreriamodel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=marioserverchido.database.windows.net,1433;initial catalog=libreriagand;persist security info=True;user id=marioad;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="libreriagandEntities1" connectionString="metadata=res://*/Libreria1.csdl|res://*/Libreria1.ssdl|res://*/Libreria1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:marioserverchido.database.windows.net;initial catalog=libreriagand;user id=marioad;password=Mario524;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>